<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--↓テストDB-->
    <!--<add name="DBServerConnectionString" connectionString="Server=tcp:scm1testdb.database.windows.net,1433;Initial Catalog=scm1Test;Persist Security Info=False;User ID=scm1test;Password=Testscm1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--↓本番DB-->
    <add name="DBServerConnectionString" connectionString="Server=tcp:scm1server.database.windows.net,1433;Initial Catalog=sekipadb;Persist Security Info=False;User ID=scm1server;Password=SCM1Pass!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--アクセストークン生成キー-->
    <add name="TokenPublicKey" connectionString="scm1ksc@tokentokenababa" />
  </connectionStrings>
</configuration>